.logo{
    border-radius: 10px;
    width: 70px;
    height: 40px;
}

.profile-pic{
    width: 62.94px;
    height: 62.94px;
}

header{
    padding: 20px;
    display: flex;
    background-color: rgb(71,71,71);
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    position: fixed;
        top: 0; 
        left: 0;
        right: 0;
}



body{
    padding: 0;
    margin: 0;
    background-color: rgb(101, 101, 101);
}

.lien-logo {
    display: inline-block;
    width: 67.9px;
    height: 36.8px;
}

.lien-profile {
    display: inline-block;
    width: 62.94px;
    height: 62.94px;
}

.textes-header {
    display: flex;
    color: antiquewhite;
    justify-content: space-between;
}

.post1{
    display: flex;
    border: 1px solid;
    margin: 10px;
    border-radius: 20px;
}

.post-profile{
    max-width: 200px;
    max-height: 200px;
}

.post-sujet{
    color: burlywood;
}

.post-texte{
    color:ivory;
}

.posts{
    padding-left: 20px;
    padding-right: 20px;
}

.nom{
    color: bisque;
}

.sujet-text-info{
    padding-right: 20px;
}

#postInscriptionConnexion{
    gap: 20px;
    padding: 50px;
    background-color: lightgray;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#mdp,#Mail,#mdp2,#username{
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.formulaire{
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulaire1{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 0;
}

#bouton{
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}

#bouton:hover{
    background-color:beige;
}

#bouton:active {
    filter: brightness(0.8);
}

#logoCo{
    width: 500px;
    height: auto;
}

.imageform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.buttonlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infosProfil{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#infosProfil2{
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(135, 133, 149);
}

#texteProfil{
    height: auto;
    width: auto;
    color: aliceblue;
    margin-top: 20px;
}

#texteProfil h4,
#texteProfil p {
    margin: 0;
    padding: 0;
}

#pt {
    padding-left: 20px;
    color: blanchedalmond;
    
}

.threads {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}

#threadTexte {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

#threadTexte h2 {
    align-self: center;
}

.thread{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.thread img {
    width: 200px;
    max-height: 150px;
}

#description{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    border-bottom: 2px solid;
}

#description h1{
    color:cornflowerblue;
}

#description img{
    width: 150px;
}

#poststhread{
    padding: 20px;
}

#bodyProfile{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

#boutonProfile{
    padding: 10px;
    margin-left: 100px;
    border-radius: 5px;
    background-color:antiquewhite;
}

#boutonProfile:hover{
    background-color:beige;
}

#boutonProfile:active{
    filter: brightness(0.8);
}

#addButton{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(87, 117, 188);
    color: white;
}

#addButton:hover{
    background-color: rgb(112, 147, 228);
}

#addButton:active{
    filter: brightness(0.8);
}

#formPost{
    margin-top: 150px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#titleNewPost, #ModifName{
    width: 250px;
    border-radius: 5px;
    padding: 10px;
}

#contenuPost, #ModifDesc{
    padding: 10px;
    border-radius: 10px;
}

.conteneur{
    width: fit-content;
    align-self: center;
}

#threadSelect{
    width: fit-content;
    padding: 5px;
    background-color: #333;
    color: white;
}

#boutonPost{
    width: fit-content;
    padding: 5px;
    font-size: medium;
    align-self:flex-end;
    border-radius: 5px;
}

#boutonPost:hover{
    background-color: aliceblue;
}

#boutonPost:active{
    opacity: 80%;
}

.post-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.post-actions i{
    color: black;
}

.post-actions p{
    color: black;
    margin-top: 0;
    margin-bottom: 1px;
}

#boutonModif{
    padding: 10px;
    margin-right: 100px;
    border-radius: 5px;
    background-color:antiquewhite;
}

#boutonModif:hover{
    background-color:beige;
}

#boutonModif:active{
    filter: brightness(0.8);
}

#valise{
    background-color: white;
    color:grey;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}

.indexButtons{
    display: flex;
    justify-content: space-between;
}