<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<header>
    <a href="/" class="lien-logo">
        <img src="../img/2chad-removebg.png" alt="logo" class="logo">
    </a>
    <p class="username">{{.Username}}</p>
    <a href="/profile" class="lien-profile">
        <img src="../img/placeholder-profile.png" alt="profile-pic" class="profile-pic">
    </a>
</header>

<body>
    <div id="description">
        <img src="../img/imgSport.png" alt="imgSport">
        <h1>{{.Thread}}</h1>
        <p>Bienvenue sur le thread dédié au {{.Thread}}. Merci de ne poster ici que des articles en rapport avec le sujet du thread.</p>
    </div>
    
    <div class="indexButtons">
        <form action="/createpost" method="POST">
            <button id="addButton" class="postButtons" type="submit">
                <i class="fa-solid fa-plus"></i> Ajouter un post
            </button>
            </form>
    </div>

    <div class="posts">
        {{range .Posts}}
        <div class="post1">
            <img src="../img/placeholder-profile.png" alt="plh pp" class="post-profile">
            <div class="sujet-text-info">
                <div class="post-sujet">
                    <h3>Titre : {{if .Titre}}{{.Titre}}{{else}}Sans titre{{end}} 
                        {{if .Thread}}<span class="thread-badge">[{{.Thread}}]</span>{{end}}
                    </h3>
                </div>
                <div class="post-texte">
                    <p>{{.Text}}</p>
                    <div class="post-actions">
                        <a href="/like/{{.ID}}"><i class="fa-solid fa-caret-up"></i></a>
                        <p>{{subtract .Like .Dislike}}</p>
                        <a href="/dislike/{{.ID}}"><i class="fa-solid fa-caret-down"></i></a>
                    </div>
                    <h4 class="nom">Posted by: {{.AuthorName}}</h4>
                </div>
            </div>
        </div>
        {{else}}
        <div class="post1">
            <p>Aucun post disponible pour le moment.</p>
        </div>
        {{end}}
    </div>
            
        
</body>
</html>